* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(94, 94, 94);
}

header h1 {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 70px;
}
